* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: grey;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* navbar */
nav .links-row {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

ul {
    list-style-type: none;
    margin:10px;
    padding:0px;
}

a {
    font-size: 18px;
    text-decoration: none;
    color:yellow;
    font-weight: bold;
}

a:hover{
    color:red;
}

/* dropdown menu for credits */
.dropdown {
    position:relative;
    display:inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: black;
    min-width: 100%;
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* header */
header .top {
    display:flex;
    justify-content: center;
}

/* section game */
.title {
    font-size: 50px;
    color:darkmagenta;
    text-shadow: 2px 2px 5px yellow;
    margin-top: 30px;
}

.greeting {
    margin: 10px auto;
    font-size: 30px;
    text-align: center;
    max-width: 1000px;
    color: yellow;
}

/*hover text over images like hints for choices*/
.hoverChoice {
    position:relative;
}

.hoverChoice:before {
    content:attr(data-hover);
    visibility:hidden;
    opacity:0;
    width:max-content;
    background-color:black;
    color: white;
    text-align: center;
    padding: 5px 5px;
    transition: opacity 1.2s ease-in-out;

    position:absolute;
    z-index: 1;
    top: 0;
    right: 0;
}

.hoverChoice:hover:before {
    opacity: 1;
    visibility: visible;
}

.box{
    margin-top: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

div.form {
    display: flex;
    flex-direction: column;
}

img {
    width: 200px;
    height: 200px;
}

/* animation for photos */
.form {
    transition: all .5s ease-in-out;
}

.form:hover {
    transform: scale(1.2);
}

/* section visible-part */
.updated-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
    color: yellow;
    margin: 20px auto;
}

.new-game button {
    margin-top: 20px;
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid black; 
    font-size: 20px;
    font-weight: bold;
}

button:hover {
    color:red;
}

/* footer */
.footer {
    padding: 15px;
    background-color:black;
    color: white;
    text-align: center;
    margin-top: auto;
}

/* 
    1. optimize code (html, css)
    3. responsive css (for mobile devices)
*/

